server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      # DEV CORS (React dev servers)
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173,http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        # BLOCK internal endpoints from outside
        - id: block-internal
          uri: no://op
          predicates:
            - Path=/internal/**
          filters:
            - SetStatus=403

        - id: user-service
          uri: http://localhost:9090
          predicates:
            - Path=/users/**

        - id: product-service
          uri: http://localhost:9091
          predicates:
            - Path=/products/**

        - id: order-service
          uri: http://localhost:9092
          predicates:
            - Path=/orders/**

        - id: auth-service
          uri: http://localhost:9093
          predicates:
            - Path=/auth/**