server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:9090
          predicates:
            - Path=/users/**

        - id: product-service
          uri: http://localhost:9091
          predicates:
            - Path=/products/**

        - id: order-service
          uri: http://localhost:9092
          predicates:
            - Path=/orders/**

        - id: auth-service
          uri: http://localhost:9093
          predicates:
            - Path=/auth/**