server:
  port: 9090

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

jwt:
  issuer: "ecommerce-auth"
  secret: "SAME_DEV_SECRET_AS_AUTH_SERVICE_CHANGE_ME_32_BYTES_MIN"