server:
  port: 9091

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

jwt:
  issuer: "ecommerce-auth"
  secret: "DEV_ONLY_CHANGE_ME__super_long_secret_key_at_least_64_chars_1234567890_abcdefghijklmnopqrstuvwxyz"